<%= f.fields_for :user do |ff| %>
<div class="step h-bigCard w-96 max-[640px]:w-80 max-[640px]:rounded-lg rounded-r-lg p-4 bg-BaseGreen-500 hidden"
    data-step="5">
  <h2 class="text-2xl font-bold text-white mb-4 max-[640px]:text-xl">Passo 5: Senha
  </h2>
  <div class="relative mb-4">
    <%= ff.password_field :password,
        class:"block rounded-md px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 focus:outline-none focus:ring-0 peer",
         placeholder: " ",
         id: 'senha'
    %>
    <%= ff.label :password,
        class:"absolute text-sm text-green-600 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
    %>
  </div>
  <div class="relative mb-4">
      <%= ff.password_field :password_confirmation,
         class:"block rounded-md px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 focus:outline-none focus:ring-0 peer",
         placeholder: " ",
         id: 'confirma-senha'
    %>
    <%= ff.label :password_confirmation,
        class:"absolute text-sm text-green-600 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
    %>
  </div>
  <div class="flex">
    <p id="senhaLength" class="flex text-sm text-red-600 text-sm my-1 mr-4">
      Deve ter pelo menos 8 caracteres
    </p>
    <div id="iconVermelho1"><i class="fa-solid fa-x" style="color: #ff0026;"></i></div>
    <div class="iconVerde1 hidden"><i class="fa-solid fa-check "
                style="color: #00d103;"></i></div>
  </div>
  <div class="flex">
    <p id="senhaCapital" class="flex text-sm text-red-600 text-sm my-1 mr-4">
      Deve incluir uma letra maiúscula
    </p>
    <div id="iconVermelho2"><i class="fa-solid fa-x" style="color: #ff0026;"></i></div>
    <div class="iconVerde2 hidden"><i class="fa-solid fa-check "
                style="color: #00d103;"></i></div>
  </div>
  <div class="flex">
    <p id="senhaNumber" class="flex text-sm text-red-600 text-sm my-1 mr-4">
      Deve incluir um número
    </p>
    <div id="iconVermelho3"><i class="fa-solid fa-x" style="color: #ff0026;"></i></div>
    <div class="iconVerde3 hidden"><i class="fa-solid fa-check "
                style="color: #00d103;"></i></div>
  </div>
  <div class="flex">
    <p id="senhaSymbol" class="flex text-sm text-red-600 text-sm my-1 mr-4">
      Deve incluir um símbolo
    </p>
    <div id="iconVermelho4"><i class="fa-solid fa-x" style="color: #ff0026;"></i></div>
    <div class="iconVerde4 hidden"><i class="fa-solid fa-check "
                style="color: #00d103;"></i></div>
  </div>
  <button class="mt-4 bg-green-500 hover:hoverClick text-white px-4 py-2 rounded-full prev-step"
        data-step="3">Anterior</button>
  <%= f.button 'Finalizar',
      type: 'submit',
      class: "mt-4 bg-green-500 hover:hoverClick text-white px-4 py-2 rounded-full"
  %>
</div>
<% end %>